    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body, html {
        font-family: 'Montserrat', sans-serif;
        background-color: #000; /* Arka plan rengi siyah */
    }

    .container {
        position: relative;
        padding: 20px; 
        text-align: center; 
        height: 100vh; /* Tüm yüksekliği kapsar */
        overflow-y: auto; /* Dikey kaydırma çubuğunu ekler */
        display: flex; /* Flexbox kullanarak iki bölüm oluştur */
        height: 100vh; /* Tüm yüksekliği kapsar */
    }

    /* Kaydırma çubuğu stilini ayarlamak için */
    .container::-webkit-scrollbar {
        width: 8px; /* Kaydırma çubuğunun genişliği */
    }

    .container::-webkit-scrollbar-thumb {
        background-color: #444; /* Kaydırma çubuğunun rengi */
        border-radius: 10px; /* Kaydırma çubuğu kenar yuvarlama */
    }

    .container::-webkit-scrollbar-thumb:hover {
        background-color: #666; /* Üzerine gelindiğinde renk değişimi */
    }

    .logo {
        width: 300px; /* Logonun genişliği */
        height: 75px; /* Yükseklik */
        position: absolute; /* Logoyu konumlandırmak için */
        top: 0px; /* Yukarıdaki boşluğu azalt */
        left: 50%; /* Yatayda ortalamak için */
        transform: translateX(-50%); /* Logonun tam ortada görünmesi için */
    }

    .back {
        text-decoration: none;
        color: #fff; /* Geri dön yazısı beyaz */
        font-size: 18px;
        margin-bottom: 30px; 
        position: absolute;
        top: 20px; /* Geri dön butonu için yükseklik */
        left: 30px; 
    }

    .arrow {
        font-size: 24px;
        margin-right: 10px;
    }

    .search-container {
        position: absolute; /* Arama kutusunu konumlandırmak için */
        top: 20px; /* Yukarıdaki mesafe */
        right: 50px; /* Sağdan mesafe */
        display: flex; /* Flex kullanarak hizalama sağla */
        align-items: center; /* Dikey olarak ortala */
    }

    .search-box {
        padding: 10px; /* İç boşluk */
        border: 1px solid #fff; /* Kenar rengi */
        border-radius: 5px; /* Kenar yuvarlama */
        background-color: #ffffff; /* Arka plan rengi */
        color: #383838; /* Yazı rengi */
        width: 300px; /* Genişlik */
    }

    .search-icon {
        cursor: pointer; /* Tıklanabilir olduğunu gösteren imleç */
        margin-left: -30px; /* Arama simgesini kutunun içine yerleştirme */
        height: 24px; /* Simgelerin boyutu */
        width: 24px; /* Simgelerin boyutu */
    }


    .menu {
        position: absolute; /* Menü konumlandırma */
        top: 100px; /* Üstten boşluk */
        left: 30px; /* Soldan boşluk */
        text-align: left; /* Metin hizalaması sola */
    }

    .menu ul {
        list-style-type: none; /* Madde işaretlerini kaldır */
    }

    .menu a {
        display: block; /* Blok seviyesinde eleman yaparak kutu şeklinde görünmesini sağla */
        text-decoration: none; /* Alt çizgiyi kaldır */
        color: #fff; /* Metin rengi beyaz */
        font-size: 18px; /* Metin boyutu */
        padding: 15px; /* İç boşluk */
        border-radius: 5px; /* Kenar yuvarlama */
        transition: background-color 0.3s; /* Arka plan rengi geçiş efekti */
    }

    .menu a:hover {
        background-color: #444; /* Üzerine gelindiğinde arka plan rengi değişimi */
        color: #fff; /* Üzerine gelindiğinde metin rengi beyaz */
    }

    .menu li {
        margin: 5px 0; /* Menü elemanları arasında daha az boşluk */
        position: relative; /* Çizgi için konumlandırma */
    }

    .menu li a {
        display: block; /* Tüm alanı kapsaması için */
        padding: 10px; /* İç boşluk */
        text-decoration: none; /* Alt çizgiyi kaldır */
        color: #fff; /* Yazı rengi beyaz */
        transition: background-color 0.3s; /* Renk geçişi için animasyon */
    }

    .menu li a:hover {
        background-color: #444; /* Üzerine gelindiğinde arka plan rengi */
    }

    .menu li.giris-yap {
        padding-top: 10px; /* Üstteki çizgi için biraz boşluk */
    }

    .menu li.giris-yap::before {
        content: ''; /* Çizgi için içerik tanımlama */
        position: absolute; /* Konumlandırma */
        top: 0; /* Yukarıda olacak */
        left: 0; /* Soldan başlayacak */
        width: 100%; /* Tam genişlik */
        height: 1px; /* Yükseklik */
        background-color: #fff; /* Çizgi rengi beyaz */
        z-index: 1; /* Diğer elemanların üstünde görünmesi için */
    }

    .menu li.kayit-ol {
        padding-bottom: 10px; /* Alttaki çizgi için biraz boşluk */
        position: relative; /* Çizgi için konumlandırma */
    }

    .menu li.kayit-ol::after {
        content: ''; /* Çizgi için içerik tanımlama */
        position: absolute; /* Konumlandırma */
        bottom: 0; /* Altında olacak */
        left: 0; /* Soldan başlayacak */
        width: 100%; /* Tam genişlik */
        height: 1px; /* Yükseklik */
        background-color: #fff; /* Çizgi rengi beyaz */
        z-index: 1; /* Diğer elemanların üstünde görünmesi için */
    }

    .menu li.kesfet {
        padding-bottom: 10px; /* Alttaki çizgi için biraz boşluk */
        position: relative; /* Çizgi için konumlandırma */
    }

    .menu li.kesfet::after {
        content: ''; /* Çizgi için içerik tanımlama */
        position: absolute; /* Konumlandırma */
        bottom: 0; /* Altında olacak */
        left: 0; /* Soldan başlayacak */
        width: 100%; /* Tam genişlik */
        height: 1px; /* Yükseklik */
        background-color: #fff; /* Çizgi rengi beyaz */
        z-index: 1; /* Diğer elemanların üstünde görünmesi için */
    }

    .menu-icon {
        margin-right: 10px; /* Simgeler ile metin arasında boşluk */
        vertical-align: middle; /* Simgelerin metinle hizalanması için */
        fill: #fff; /* Simgelerin rengi beyaz */
        height: 20px; /* Simgelerin boyutu */
        width: 20px; /* Simgelerin boyutu */
    }
